body {
    background-color: gray;  
}
header {
    background-color: rgb(70, 70, 70);
    height: 8em;
    border-radius: 5px;
}


h1 {
    text-align: center; 
}

#titulo{
    color: brown;
}



.titulo1{
    color: rgb(0, 3, 170);
}
.titulo2{
    color: rgb(240, 248, 255);
}
.titulo3{
    color: rgb(184, 7, 1);
}


#bebida{
    color: aliceblue;
}
#sobremesa{
    color: brown;
}

.containerProdutos {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-color: rgb(209, 35, 35);
    flex-direction: row;

}


footer {
    background-color: rgb(70, 70, 70);
    text-align: center;
    width: 100%;
    height: 8em;
    border-radius: 5px;
    margin: 0;
    top: 0;
}

.direitos {
    position: relative;
    top: 25%;
}

.direitosP{
    color: rgb(223, 36, 36);
}

.nomeLogo{
    
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
     
    top: 5%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.logo{
    display: flex;
    flex-wrap: wrap ;
    text-align: center;
    position: absolute;
    top: 2%;
}

.prev-icon{
    color: blue;
    
    top: 50%;
    left: 5%;
}

.next-icon{
    color: brown;
    
    top: 50%;
    left: 95%;
}

.sr-only{
    color: brown;
}

.carousel-indicators{
    
    top: 108%;
}

.promo{
    position: relative;
    left: 10%;
    
}

.promoText{
    color: blue;
}

.categorias{
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.azul{
    color: blue;
}
.branco{
    color: rgb(255, 255, 255);
}
.vermelho{
    color: rgb(238, 5, 5);
}

.botoesFinai2{
    position: relative;
    margin-top: 10%;
    left: 80%;
}



#barraPesquisa{
    position: relative;
    left: 10%;
    top: 3%;
}



/* Estilos para os cards de produtos */
.card-custom {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.card-custom:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.imagemProduto img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Garante que a imagem cubra a área designada sem perder a proporção */
    border-radius: 0.25rem; /* Arredondamento leve das bordas da imagem */
}

.card-body {
    padding: 15px;
}

.card-title {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.25rem;
}

.card-text {
    color: #666;
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Pequena personalização para o texto da categoria */
.categoria-text {
    font-weight: bold;
    color: #0056b3;
}